# kicad
*.bak
**/*-backups/*.zip
\#auto_saved_files\#
*.lck
fp-info-cache
*.kicad_prl


# FreeCAD
*.FCBak


# Ignore separate repo cloned into subfolder (no submodule)
3d-models/kicad-library-jonny_nonPublicModels